*{
    margin: 0;
    padding: 0;
}
.maindiv{
    width: 400px;
    margin: 20px auto;
    border: 2px solid red;
    text-align: center;
    padding: 2px 2px;
    background-color:#7f8c8d ;
    padding-bottom: 30px;
}
.div1 {
    position: relative;
    

}
.div1 img{
    max-width: 100%;
    max-height: 100%;
}
 
.div2{
    font-size: 30px;
    color: black;
    position: absolute;
    top: 240px;
    right: 6px;
    
    
    
    
}
.div3{
    position: absolute;
    top: 2px;
    left: 200px;
}
h4{
    color: beige;
}
